*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* all view starts */

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    text-align: center;
    font-size: 1.75em;
    margin-top: 100px;
    border-bottom: 1px solid gray ;
}

.menu1 h4{
    float: right;
    border: 1px solid black;
    background-color: #ff4c0a;
}

.menu2 h4{
    float: right;
    border: 1px solid black;
    background-color: #ffbc05;
}

.menu3 h4{
    float: right;
    border: 1px solid black;
    background-color: #95ff0a;
}

article{
    clear: right;
}


article{
    padding: 8px;
}

menu{
    border: 1px solid black;
    background-color: #d8cdcd;
}

h4{
    font-size: 1.25em;
}

/* all view ends */


/* mobile view */

@media (max-width: 767px){
    h1{
        margin-top: 30px;
    }
    main{
        display: flex;
        max-width: 95%;
        margin: 50px auto;
        flex-direction: column;
        gap: 10px;
    }

    menu{
        flex-basis: 32%;
        
    }

 

}

/* tablet view */

@media (min-width: 768px) and (max-width: 991px){
    main{
        display: flex;
        max-width: 92%;
        margin: 50px auto;
        flex-wrap: wrap;
        justify-content: space-between;

    }

    .menu1{
        flex: 0 0 48%;
    }

    .menu2{
        flex-basis: 48%;
    }

    .menu3{
        margin-top: 20px;
        flex-basis: 100%;
    }

}

/* desktop view */

@media (min-width: 992px){
    main{
        display: flex;
        max-width: 95%;
        margin: 50px auto;
        justify-content: space-between;
    }

    menu{
        flex-basis: 32%;
    }

}