*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* all view starts */

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    text-align: center;
    font-size: 1.75em;
    margin-top: 100px;
    border-bottom: 1px solid gray ;
}

.menu1 h4{
    float: right;
    border: 1px solid black;
    background-color: #ff4c0a;
}

.menu2 h4{
    float: right;
    border: 1px solid black;
    background-color: #ffbc05;
}

.menu3 h4{
    float: right;
    border: 1px solid black;
    background-color: #95ff0a;
}

article{
    clear: right;
}

menu{
    background-color: #d8cdcd;
}

article{
    padding: 8px;
}

menu{
    border: 1px solid black;
}

h4{
    font-size: 1.25em;
}

/* all view ends */


/* mobile view */

@media (max-width: 767px){
    h1{
        margin-top: 30px;
    }
    main{
        display: grid;
        grid-template-columns: 1fr;
        max-width: 87%;
        margin: 30px auto;
        gap:6px;
    }

    menu{
        margin-bottom: 12px;
    }

 

}

/* tablet view */

@media (min-width: 768px) and (max-width: 991px){
    main{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 92%;
        margin: 50px auto;
        gap: 12px;
    }

    .menu3{
        grid-column: 1/3;
    }

}

/* desktop view */

@media (min-width: 992px){
    main{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        max-width: 95%;
        margin: 50px auto;
        gap: 10px;
    }


}